<h3></h3>编辑產品</h3>
<%= form_for @product ,method: :put do |p| %>
<%= p.label :name, "名稱" %>:
<%= p.text_field :name %><br />

<%= p.label :description, "敘述" %>:
<%= p.text_field :description %><br />

<%= p.label :image, "圖片" %>:
<%= p.file_field :image %><br />

<%= p.label :price, "價格" %>:
<%= p.number_field :price %><br />

<%= p.label :subcategory_id, "類別" %>
<%= p.select("subcategory_id", Subcategory.all.collect {|s| [ s.name_with_category, s.id ] }, 
{ include_blank: "請選擇" })%><br />


<%= p.submit "更新" %>
<% end %>
