<h3></h3>编辑產品</h3>
<%= form_for @product ,method: :put do |p| %>
<%= p.label :name, "名稱" %>:
<%= p.text_field :name %><br />

<%= p.label :description, "敘述" %>:
<%= p.text_field :description %><br />

<%= p.label :image_url, "圖片連接" %>:
<%= p.text_field :image_url %><br />

<%= p.label :price, "價格" %>:
<%= p.number_field :price %><br />

<%= p.submit "更新" %>
<% end %>
