<h3></h3>编辑產品</h3>
<%= form_tag("/products/#{@product.id}",method: :patch) do %>
    <label>
        名稱
        <input type="text" name="name" value="<%= @product.name %>" />
    </label>
        <br/>
    <label>
        敘述
        <input type="text" name="description" value="<%= @product.description %>" />
    </label>
        <br/>
    <label>
        圖片連接
        <input type="text" name="image_url" value="<%= @product.image_url %>" />
    </label>
        <br/>
    <label>
        價格
        <input type="number" name="price" value="<%= @product.price %>" />
    </label>
        <br/>
        <button type="submit">
        编辑
        </button>
    <% end %>