<!DOCTYPE html>
<html>
  <head>
      <title>Ruby 功課</title>
      <%= csrf_meta_tags %>

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">

      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
  </head>
  <body>
      <%= render 'layouts/nav' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
  </body>
</html> 
